body {
    font-family: 'Product Sans', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: #ffffff; /* Light mode background */
    color: #000000; /* Light mode text color */
}

body.dark-mode {
    background-color: #000000; /* Dark mode background */
    color: #ffffff; /* Dark mode text color */
}

.shape {
    position: absolute;
    height: 100px; /* Adjust height as needed */
    width: 200px; /* Adjust width as needed */
    border-radius: 50%;
    opacity: 0.5;
}

.left-shape {
    background-color: red; /* Change to desired color */
    left: -100px; /* Off-screen on the left */
    top: 50%;
    transform: translateY(-50%);
}

.right-shape {
    background-color: blue; /* Change to desired color */
    right: -100px; /* Off-screen on the right */
    top: 50%;
    transform: translateY(-50%);
}

.card {
    background-color: white; /* Card background */
    border: 1px solid #ccc; /* Card border */
    border-radius: 5px; /* Card border radius */
    margin: 10px 0;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.card a {
    text-decoration: none;
    color: inherit; /* Inherit text color from parent */
}

.card a:hover {
    text-decoration: underline; /* Underline on hover */
}

.tag {
    background-color: red;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 12px;
}
